body {
  background-color: #EFEFEF;
  color: #000099;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 110%;
}

h1 {
  text-align: center;
  background-color: #CECECE;
  border-top: 1px solid #000099;
  border-bottom: 1px solid #000099;
  padding: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 2.25px;
  cursor: crosshair;
}

.wrapper {
  white-space: nowrap;
}

.big_div {
  white-space: nowrap;
}

.chart1_div {
  float:left;
}

.slider_div {
  float:left;
  clear:left;
}

.slider_div {
  position:relative;
  display:inline-block;
}

.halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.arc path {
  stroke: #fff;
}

